[Desktop Entry]
Encoding=UTF-8
Name=KumaCoin
Comment=KumaCoin P2P Cryptocurrency
Comment[fr]=KumaCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=KumaCoin, eşten eşe kriptografik sanal para birimi
Comment[es]=KumaCoin, una criptomoneda P2P
Exec=/usr/bin/kumacoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/kumacoin;
Categories=Office;
