# bitcoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.bitcoin
host=127.0.0.1

#mainnet default
port=7585

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=2363600

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=c3d4d2fe
genesis=01c24a841f8d349b777687e2aa6718c24050e357e7d78b25de88b8a1ee569ac5
input=/home/example/.kumacoin

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/tmp/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = True
